/* Tablet and Mobile: width < 1024px */
@media screen and (max-width: 63.9375em) {
}

/* Tablet: width >= 740px and width < 1024px */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* Mobile: width < 740px */
@media screen and (max-width: 46.1875em) {
  /* Common */
  .wrapper {
    max-width: 100%;
    padding: 7.4rem 1.5rem 11.2rem;
  }

  .bbtn {
    width: 100%;
  }

  /* Header */
  .header .nav-list {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .header .nav-list .nav-item:not(:first-child) {
    display: none;
  }

  .header .nav-list.active .nav-item:not(:first-child) {
    display: block;
  }

  .header .nav-item:first-child {
    width: 100px;
  }

  .header .nav-item:first-child .nav-link {
    display: inline-block;
  }

  .header .nav-item .nav-link {
    background: #000;
  }

  .header .nav-item .subnav-list {
    width: 100%;
  }

  .header .subnav-item .subnav-link {
    padding: 8px 30px;
  }

  .header .search-btn {
    display: none;
  }

  .header .menu-btn {
    display: block;
  }

  /* The Band */
  .the-band .member-list {
    flex-direction: column;
  }

  .the-band .member-list .member-item {
    flex: 1 1 100%;
  }

  .the-band .member-list .member-item:not(:last-child) {
    margin-bottom: 3rem;
  }

  .the-band .member-item .member-avatar {
    width: 60%;
  }

  /* Tour */
  .tour .place-list {
    flex-direction: column;
  }

  .tour .place-list .place-item {
    flex: 1 1 100%;
  }

  .tour .place-list .place-item:not(:first-child) {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .tour .place-item .place-image {
    width: 100%;
  }

  /* Contact */
  .contact .contact-content,
  .contact .contact-form .form-wrap {
    flex-direction: column;
  }

  .contact .form-wrap .form-input + .form-input{
    margin-left: 0;
    margin-top: 1rem;
  }
}

